<section class="intro-main">
        <div class="overlay"></div>
        <div class="intro-video">
          <video controls loop class="chair" src="black_cat_in_grass.mp4" autoplay poster="posterimage.jpg"></video>
        </div>

        <div class="intro-title">
          <h1>Kitten<br> Tinder</h1>
        </div>
        <div class="intro-subtitle">
          <h3>A place for my 9-month old <br> to rate kittens</h3>
          <button ui-sref='kittenRate' class='startButton'>Start Here!</button>
        </div>
      </section>
