

<div class="content">
  <div class="overlay2"></div>
  <img src="./img/crumpledPaper.jpg" alt="" />
  <div class="navbar"><a ui-sref="home">Kitten Tinder</a></div>

  <div id="mySidenav" class="sidenav">
    <a ui-sref="about">About</a>
    <a ui-sref="rankings">My Saved Kittens</a>
    <div class="rankedKittensBox">
      <div class="rankedKittens" ng-repeat="kitten in rankedKittens">
        <img ng-src="{{kitten.img}}" alt="" />
      </div>
    </div>
    <div class='open'><h3 class='text'>Open</h3></div>
  </div>



  <div id="card">
    <div class="front">
      <img ng-src="{{kitten.img}}"/>
    </div>
    <div class="back">
      <p class='kittenName'>{{kitten.name}}</p>
      <p class='kittenDesc'>{{kitten.desc}}</p>
      <button ng-click='next(); saveKitten({kitten: kitten})'>Next Kitten</button>
    </div>
  </div>

  <button class="cuteButton"><img src="./img/thumbsUp.png" alt="" /></button>
  <button ng-click='next()' class='notCute'><img src="./img/thumbsDown.png" alt="" /></button>

</div>





<!-- <p ng-repeat="kitten in kittens">
  <p ng-show="kittenValue">
    {{kitten[i].name}}
    <img ng-src="{{kitten[i].img}}" alt="" />
  </p>
  <button ng-click='onClick()'>Next</button>

</p> -->
