

<!-- <button ng-click='saveKitten({kitten: kitten})'>Cute</button> -->


  <div id="card">
    <div class="front">
      <img class='catImg' ng-src="{{kitten.img}}" ng-click='saveKitten({kitten: kitten})'/>
    </div>
    <div class="back">
      <p>{{kitten.name}}</p>
      <p>{{kitten.desc}}</p>
      <button ng-click='next()'>Next Kitten</button>
    </div>
  </div>

  <button ng-click='next()' class='notCute'><img src="./img/thumbsDown.png" alt="" /></button>







<!-- <p ng-repeat="kitten in kittens">
  <p ng-show="kittenValue">
    {{kitten[i].name}}
    <img ng-src="{{kitten[i].img}}" alt="" />
  </p>
  <button ng-click='onClick()'>Next</button>

</p> -->
